---
layout: default
---

<div class="container2">
    <div class="filter">
        <p class="text-1">Filtrar por tópico:</p>
        <ul>
            <li><a href="{{ '/brasil' | relative_url }}">Brasil</a></li>
            <li><a href="{{ '/internacional' | relative_url }}">Internacional</a></li>
        </ul>
    </div>
    <div class="posts">
        {% for post in site.posts %}
            {% if post.tema == "Brasil" %}
                <div class="card">
                    <div class="picture">
                        <img src="{{ post.photo | relative_url }}" width=100% height=100%>
                    </div>
                    <div class="card2">
                        <div class="categories">
                            {{ post.categories }}
                        </div>
                        <div class="title">
                            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                        </div>
                        <div class="byon">
                            {{ post.byon }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>